.bg-image {
  background-image: url("/portfolio/keyboards.jpg");
}
html {
  @apply h-full;
}

body {
  @apply h-full;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
