---
import '../styles/globals.css'
import { Button } from "@/components/ui/button"
import { Badge } from "@/components/ui/badge"
import MainNav from "@/components/mainNav"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio</title>
	</head> 
	<body>
		<main>
			<MainNav />
			<nav>
				<Button variant="outline">Button</Button>
			</nav>
			<h1>Armando Escobar</h1>
			<h2>Programador</h2>
		</main>
	</body>
</html>
