---
import { Icons } from "./icons";
const { frontmatter } = Astro.props;
const { title, description, category, urlGithub } = frontmatter;
import { DialogProject } from "./dialogProject";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<article class="flex flex-col bg-red-600">
  <Card>
    <CardHeader>
      <CardTitle className="text-xl">{title}</CardTitle>
    </CardHeader>
    <CardContent>
      <p>{description}</p>
    </CardContent>
    <CardFooter>
      <DialogProject client:load />
    </CardFooter>
  </Card>
</article>
